Repository googleapis/python-secret-manager, pull requests merged in 2021-07, with the labels that each got.

#153 fix(deps): pin 'google-{api,cloud}-core', 'google-auth' to allow 2.x versions
  setup.py
Labels: api: secretmanager, automerge, cla: yes

#130 Updated samples with etag support
  samples/snippets/delete_secret_with_etag.py
  samples/snippets/destroy_secret_version_with_etag.py
  samples/snippets/disable_secret_version_with_etag.py
  samples/snippets/enable_secret_version_with_etag.py
  samples/snippets/snippets_test.py
  samples/snippets/update_secret_with_etag.py
Labels: api: secretmanager, automerge, cla: yes, samples

#138 docs(secretmanager): add sample code for receiving a Pub/Sub message
  samples/snippets/consume_event_notification.py
  samples/snippets/snippets_test.py
Labels: api: secretmanager, cla: yes, samples
