Repository googleapis/python-secret-manager, pull requests merged in 2021-09, with the labels that each got.

#180 chore: fix typos
  google/cloud/secretmanager_v1/services/secret_manager_service/transports/grpc.py
  google/cloud/secretmanager_v1/services/secret_manager_service/transports/grpc_asyncio.py
  google/cloud/secretmanager_v1beta1/services/secret_manager_service/transports/grpc.py
  google/cloud/secretmanager_v1beta1/services/secret_manager_service/transports/grpc_asyncio.py
  samples/snippets/destroy_secret_version.py
  samples/snippets/destroy_secret_version_with_etag.py
  samples/snippets/get_secret_version.py
Labels: api: secretmanager, cla: yes

#192 chore: reference main branch of google-cloud-python
  README.rst
Labels: api: secretmanager, cla: yes

#193 fix: add 'dict' type annotation to 'request'
  google/cloud/secretmanager_v1/services/secret_manager_service/async_client.py
  google/cloud/secretmanager_v1/services/secret_manager_service/client.py
  google/cloud/secretmanager_v1beta1/services/secret_manager_service/async_client.py
  google/cloud/secretmanager_v1beta1/services/secret_manager_service/client.py
  owlbot.py
Labels: api: secretmanager, cla: yes, owlbot:run

#198 chore: relocate owl bot post processor
  .github/.OwlBot.lock.yaml
  .github/.OwlBot.yaml
Labels: api: secretmanager, cla: yes, automerge
