Repository googleapis/python-secret-manager, pull requests merged in 2022-08, with the labels that each got.

#307 docs(samples): add sample to update secret with alias
  samples/snippets/snippets_test.py
  samples/snippets/update_secret_with_alias.py
Labels: api: secretmanager, samples, automerge: exact, size: m

#335 fix(deps): allow protobuf < 5.0.0
  setup.py
  testing/constraints-3.7.txt
Labels: api: secretmanager, automerge, size: xs

#328 docs(samples): Added sample for creating Secret with UserManaged replication
  samples/snippets/create_secret_with_user_managed_replication.py
  samples/snippets/snippets_test.py
Labels: api: secretmanager, samples, size: m
